<div class="container">
    <h1 class="center">About</h1>
    <h2>Why code together?</h2>
    <ul class="list">
        <li>This is simple!</li>
        <li>This is usefull!</li>
        <li>This is fun! :)</li>
    </ul>
    <h2>How to</h2>
    <ul class="list">
        <li>Register</li>
        <li>Login</li>
        <li>Create task</li>
        <li>Share a link with a friend</li>
        <li>Use it!</li>
    </ul>
</div>

