<form class="form-signin" method="POST">
    <h2 class="form-signin-heading text-center">Please sign in</h2>
    
    <input type="email" name="email" class="form-control" placeholder="Email" require="" autofocus="">
    </br>
    <input type="password" name="password" class="form-control" placeholder="Password" require="" >
    </br>
    
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign In</button>
    <div>{{error}}</div>
    <div class="g-recaptcha" data-sitekey="6Ld6kV4UAAAAANcszUhtonP4EZYAESW2LwN8oTNn"></div>
</form>