body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.editor {
  padding: 1em;
}
.fixed-panel {
  min-height: 50px;
  max-height: 205px;
  overflow-y: scroll;
}
.accessed {
  text-transform: capitalize;
  color: #27da27;
}
