body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.editor {
  padding: 1em;
}
.selection {
  position: relative;
}
.modeSelector {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  z-index: 1000;
}
.fixed-panel {
  min-height: 50px;
  max-height: 205px;
  overflow-y: scroll;
}
.accessed {
  text-transform: capitalize;
  color: #27da27;
}
.center {
  text-align: center;
  margin: auto;
}
.list li {
  font-size: 1.2em;
  padding: 0.25em;
}

.taskList {
  list-style-type: none;
  padding: 0.5em;
  border: 1px solid grey;
  border-radius: 4px;
}
.taskList li {
  padding: 0.5em 0 ;
  display: flex;
  justify-content: space-around;
}
.taskList li:first-of-type {
  border-bottom: 1px solid grey;
}
p.center {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.25em;
}
.content__title {
  font: 1em sans-serif;
  display: inline-block;
  padding: 0 0.25em;
}
.content__text {
  font: 1em sans-serif;
}
.delete {
  cursor: pointer;
}

footer {
  color: white;
  text-align: center;
}
footer p {
  padding: 1em;
}
